body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    background: #eee;
}

/* Nav container styles */

.navContainer {
	position: fixed;
    width: 250px;
    top: 0;
	bottom: 0;
	left:0;
    background: #323544;
	color: #b8bec4;
	font-size: 16px;
	z-index: 1;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
    transition: width 0.8s ease 0s;
}

.navContainer.collapsed {
	width: 50px;
}

.collapsed > .logoImg {
	width: 30px;
	-webkit-font-smoothing: antialiased;
	transition: width 0.8s ease 0s;
}

.menu {
	list-style: none;
    margin-top: 10px;
	padding: 0;
	height: 100%;
    overflow-x: hidden;
}

.dpLogo:hover {
    background: #304e73;
}

.collapsed .logoImg {
	width: 30px;
}

.collapsed .dpLogo {
   padding-left: 10px;
   padding-top: 15px;
}

.dpLogo {
	height: 33px;
	white-space: nowrap;
	overflow: hidden;
	padding: 12px 10px 15px 20px;	
	background: #313d54;
	-webkit-transition: padding-left .8s ease, padding-top .8s ease;
    -moz-transition: padding-left .8s ease, padding-top .8s ease;
    -o-transition: padding-left .8s ease, padding-top .8s ease;
    transition: padding-left .8s ease, padding-top .8s ease;
    -webkit-font-smoothing: antialiased;
}

.logoImg {
	width: 36px;
	float: left;
	-webkit-font-smoothing: antialiased;
	transition: width 0.8s ease 0s;
}

.titleContainer{
}

.dpLogo div{
	margin-left: 50px;
	white-space: nowrap;
	color: #fff;
	text-transform: uppercase;
}

.dpLogo div + div {
    margin-top: 5px;
    font-size: 16px;
}

.expander {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #303d54;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #3fae2a;
    font-size: 16px;
    cursor: pointer;
}
