.menuItemText {
    margin-left: 20px;
    flex: 1;
}

.level0{

}

.level1{
    width: auto
}

.level2{
    width: auto
}

.subMenu{
    width: auto
}

.subMenu ul {
   list-style: none;
   overflow-x: hidden;
}

.menuItem a {
	display: flex;
    padding: 12px;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    -webkit-transition: padding .8s ease;
    -moz-transition: padding .8s ease;
    -o-transition: padding .8s ease;
    transition: padding .8s ease;
	-webkit-font-smoothing: antialiased;
	margin-left: 12px;
}

.menuItem:hover  {
    color: #fff;
    background: #404351;
}

.menuItem {
    height: auto;
    min-height: 46px;
	cursor: pointer;
}

.menuCollapsed.subMenu > ul {
    display: none;
    position: absolute;
    left: 50px;
    margin-top: -55px;
    background: #323544;
    color: #b8bec4;
    width: 200px;
    border-left: 1px solid #666;
    font-size: 16px;
    height: 46px;
    /* max-height: 150px; */
    overflow-y: auto;
}

.subMenu > ul {
    display: none;
    position: static;
    width: auto;
}
.collapsed > .subMenu > ul {
    position: absolute;
    overflow: visible;
}

.subMenu.subMenuOpen > ul {
    display: block;
    overflow: visible;
    margin-top: 0;
    //position: static;
    //overflow: visible;
    //margin-top: 0;
    //width: auto;
}

.subMenuIcon {
	float: right;
    -webkit-animation: sub-nav-o .8s;
    animation: sub-nav-o .8s;
    opacity: 1;
}
